doctype html
html
  head
    title Работа в Москве и все такое
    link(rel='slylesheet', href='/css/main.css')
  body
    header
      img(src='/img/logo.jpg')
      h1 <center>Вахтер.ru приветствует тебя!<center/>
    aside
       rav
        a(href='/index.html') Главная <br/>
        a(href='/contacts.html') Контакты <br/>
        a(href='/') Важно <br/>
    article
      block main

    footer
      p. 2014 &copy; Бешеный строитель